<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Mooc Search 慕课 搜索</title>
	<meta name="description" content="mooc search 慕课 搜索" />
	<meta name="keywords"  content="mooc search 慕课 搜索" />


	<link rel="stylesheet" type="text/css" href="../static/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/examples.css" />

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>

	<script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="../static/js/examples.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#fff', '#fff', '#fff', 'whitesmoke', '#ccddff'],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
				menu: '#menu',
				css3: true
			});

		});
	</script>

</head>
<body>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<!-- <img src="{% static "images/mooc_search.png" %}" alt="My image"/> -->

<!-- <ul id="menu">
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">Search 搜索</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Index 索引</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">About 关于</a></li>
</ul> -->

<div id="fullpage">
	<div class="section " id="section0">
		<div id="container">
			<h1 class="fontlato">Mooc Search, best engine for learning material </h1>
			<h2 class="fontlato">Massive & Latest Course or Class</h2>
			<form action="/search" method="get">
				<input class="text" type="text" name="keywords"/>
				<input class="btn" type="submit" value="search">
			</form>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="row">
			<div class="col">
				<h3>University</h3>
				<ul>
					<li class="item">耶鲁大学</li>
					<li class="item">哈佛大学</li>
					<li class="item">剑桥大学</li>
					<li class="item">牛津大学</li>
					<li class="item">斯坦福大学</li>
					<li class="item">诺丁汉大学</li>
					<li class="item">麻省理工学院</li>
					<li class="item">普林斯顿大学</li>
					<li class="item">弗吉尼亚理工大学</li>
				</ul>
			</div>
			<div class="col">
				<h3>Commercial</h3>
				<ul>
					<li class="item">Coursera</li>
					<li class="item">edX</li>
					<li class="item">TED</li>
					<li class="item">果壳学院</li>
					<li class="item">网易公开课</li>
					<li class="item">新浪公开课</li>
					<li class="item">优酷公开课</li>
					<li class="item">北大公开课</li>
					<li class="item">清华学堂在线</li>
					<li class="item">土豆公开课</li>
					<li class="item">多贝公开课</li>
					<li class="item">超星慕课</li>
					<li class="item">过来人</li>
					<li class="item">爱课程</li>
				</ul>
			</div>
			<div class="col">
				<h3>Community</h3>
				<ul>
					<li class="item">开源力量</li>
					<li class="item"></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			Copyright 2014 MoocSearch. All rights reserved.
		</div>
	</div>
</div>
</body>
</html>