body {
	min-height: 100px;
	cursor: default;
	min-width: 940px;
	/*background-color: #f3f3f3;*/
}

header {
	height: 100px;
	background-color: white;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

img {
	width: 200px;
	height: 200px;
}